body
{
    background-color: black;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Top */

#top
{
    height: 64px;
}

#day
{
    font-size: 64px;
}

#temperature
{
    font-size: 64px;
    float: right;
}

#weather-icon
{
    float: right;
    width: 192px;
    margin-left: 16px;
}

/* Middle */

#middle
{
    display: flex;
    justify-content: center;
}

#clock-time
{
    font-size: 320px;s
}

#clock-period
{
    font-size: 64px;
}

/* Bottom */

#months-container
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
}

.month
{
    opacity: .16;
}

.month *
{
    font-size: 32px;
}

.month-highlighted
{
    font-weight: bold;
    opacity: 1;
}
